* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(197, 100%, 14%);
}
.menu-item-block {
    box-shadow: 4px 8px 10px rgb(0, 0, 0);
    width: 600px;
    display: flex;
    gap: 20px;
    padding: 12px 12px;
    background-color: hsl(240, 25%, 40%);
}
.menu-item-block #title {
    color: #d6d6d6;
    margin-right: auto;
    font-size: 28px;
}
.menu-item-block #effect,
.menu-item-block #randomize,
.menu-item-block #reset {
    border: none;
    border-radius: 8px;
    height: 24px;
    align-self: flex-end;
}
.menu-item-block #new-sketch {
    border: none;
    background-color: greenyellow;
    border-radius: 8px;
    height: 24px;
    align-self: flex-end;
}
.menu-item-block #effect:hover,
.menu-item-block #randomize:hover,
.menu-item-block #reset:hover {
    background-color: #acacac;
}
.menu-item-block #new-sketch:hover {
    background-color: hsl(84, 68%, 40%);
}
/* .sketch-page-holder{
    display: flex;
    justify-content: center;
    align-content: center;
} */
.sketch-page {
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
}